<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="resources/css/style.css">
   
  </head>

  <body>
<div class="marco">
  <header class="headernotas">
      <h2>/Notas</h2>

      <div class="linkHeader">
        <div class="crearnota">
          <a  href="/create">📝</a>
        </div>
        <div class="back">
          <a  class="atras" href="/home"> 🔙</a>
        </div>
         <div class="salir">
          <a href="/logout" >🌪</a>
       
         </div>
       
      
      </div>
     
    </header>
    <div class="cuerpoNotas">
        
        <div class="tabla">
          <div class="titulos">
            <div class="cabeceras" >
              <div class="cajaN">
                <h3 class="h3Lista"  class="h3ListaN">n.º</h3>
              </div>
              <div class="cajaTitulo">
                <h3   class="h3Lista" class="h3ListaTitulo">Título</h3>
              </div>
              <div class="cajaNota">
                <h3  class="h3Lista" class="h3ListaNota" >Nota</h3>
              </div>
              <div class="cajaAcciones"> 
                <h3 class="h3Lista" class="h3ListaAcciones" >Tools</h3>
              </div>

            </div>
          

          </div>
          <% results.forEach((nota) =>{ %>

          
          <div class="items">
            <div class="cajaItemN">
              <h3 class="h3item" class="h3itemN"><%= nota.id %></h3>
            </div>
            <div class="cajaItemTitulo">
              <h3 class="h3item" class="h3itemTitulo"><%= nota.titulo%></h3>
            </div>
            <div class="cajaItemNota">
              <h3 class="h3item" class="h3itemNota"><%= nota.nota %></h3>
            </div>
            <div class="cajaItemAcciones">
           
                <a href="/edit/<%= nota.id %>">🛠</a>
                <a href="/delete/<%= nota.id %>">🚮</a>
              
            </div>
           
           
            
           
          </div>
         

        <%})%> 
        <div class="gifLista">
          <video  class="videoFront" src="/resources/media/lista.mp4" autoplay loop muted></video>
       </div>

        </div>
        
  
    </div>
  </div>
  <footer>
    <div>
    
        <h2>/LIST.</h2>
    </div>
</footer>

  </body>
</html>